* {
    margin: 0;
}
body {
    max-width: 970px;
    margin: 0 auto;
}
nav {
    position: absolute;
    width: 200px;
    left: 0;
    top: 0;
    background-color: red;
}
main {
    background-color: green;
    margin-left: 200px;
}
aside {
    background-color: yellow;
    margin-left: 200px;
}